* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  background: #202124;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

#showcase {
  background: -webkit-gradient(linear, left bottom, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.8))), url("../images/showcase.jpeg");
  background: linear-gradient(to top right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("../images/showcase.jpeg");
  height: 100vh;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

#showcase nav {
  position: fixed;
  width: 100%;
  background-color: rgba(32, 33, 36, 0.8);
  color: #fff;
  z-index: 999;
}

@media (min-width: 840px) {
  #showcase nav {
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}

#showcase nav .menu_icon {
  float: right;
  cursor: pointer;
}

#showcase nav .menu_icon .bar1,
#showcase nav .menu_icon .bar2,
#showcase nav .menu_icon .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 8px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media (min-width: 840px) {
  #showcase nav .menu_icon {
    display: none;
  }
}

#showcase nav .change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

#showcase nav .change .bar2 {
  opacity: 0;
}

#showcase nav .change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

#showcase nav .logo {
  font-size: 1.5em;
  text-align: left;
  padding: 10px;
  float: left;
}

#showcase nav .menu {
  display: none;
}

@media (min-width: 840px) {
  #showcase nav .menu {
    display: block;
    padding-right: 4em;
  }
}

#showcase nav .menu_visible {
  display: block;
  margin-top: 40px;
  -webkit-animation: menu_show 1s forwards 0s ease;
          animation: menu_show 1s forwards 0s ease;
}

@-webkit-keyframes menu_show {
  0% {
    -webkit-transform: rotate(0) translateY(-15%);
            transform: rotate(0) translateY(-15%);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) translateY(0);
            transform: rotate(0) translateY(0);
    opacity: 1;
    height: auto;
  }
}

@keyframes menu_show {
  0% {
    -webkit-transform: rotate(0) translateY(-15%);
            transform: rotate(0) translateY(-15%);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) translateY(0);
            transform: rotate(0) translateY(0);
    opacity: 1;
    height: auto;
  }
}

@media (min-width: 840px) {
  #showcase nav ul {
    float: right;
  }
}

#showcase nav ul li {
  padding: 1em;
  text-transform: uppercase;
  list-style-type: none;
  text-align: center;
}

@media (min-width: 840px) {
  #showcase nav ul li {
    float: left;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #showcase nav ul li .active {
    border-bottom: 2px solid white;
  }
}

#showcase nav ul li a {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 840px) {
  #showcase nav ul li a {
    display: block;
    padding: 2px 20px;
  }
}

#showcase .showdata {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

#showcase .showdata .content {
  -webkit-animation: showcase 3s forwards 0s ease;
          animation: showcase 3s forwards 0s ease;
  background: rgba(0, 0, 0, 0.2);
  padding: 1em 1em;
  border-radius: 1em;
}

#showcase .showdata h1 {
  color: white;
  font-family: "Cormorant Garamond", serif;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

@-webkit-keyframes showcase {
  0% {
    -webkit-transform: rotate(0) translateY(-15%);
            transform: rotate(0) translateY(-15%);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) translateY(0);
            transform: rotate(0) translateY(0);
    opacity: 1;
  }
}

@keyframes showcase {
  0% {
    -webkit-transform: rotate(0) translateY(-15%);
            transform: rotate(0) translateY(-15%);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) translateY(0);
            transform: rotate(0) translateY(0);
    opacity: 1;
  }
}

#showcase .showdata blockquote {
  color: white;
  font-size: 1em;
  text-align: center;
  font-weight: 4em;
  font-family: Dosis, arial, sans-serif;
  letter-spacing: 0.5em;
}

#showcase .showdata blockquote .author {
  text-align: right;
  color: white;
}

#showcase .showdata blockquote .author:before {
  content: "-- ";
}

#main {
  width: 100%;
}

@media (min-width: 840px) {
  #main {
    height: 40vh;
  }
}

#main .title {
  text-align: center;
  margin: 2em auto;
}

#main .work-in-icons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 20px;
  margin-bottom: 10px;
}

#main .work-in-icons .fab,
#main .work-in-icons .fas {
  font-size: 2em;
  color: #1cad89;
}

@media (min-width: 840px) {
  #main .work-in-icons .fab,
  #main .work-in-icons .fas {
    font-size: 5em;
  }
}

@media (min-width: 840px) {
  #main .work-in-icons {
    grid-gap: 50px;
    -ms-grid-columns: (auto)[5];
        grid-template-columns: repeat(5, auto);
  }
}

#main .card {
  text-align: center;
}

#work {
  background: linear-gradient(-45deg, #158166 -45%, #1cad89 100%);
  width: 100%;
  height: 60%;
  position: relative;
  padding: 100px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 20px;
}

@media (min-width: 840px) {
  #work {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

#work .content {
  color: white;
  font-size: 1.5em;
}

@media (min-width: 840px) {
  #work .content {
    font-size: 2em;
    width: 80%;
  }
}

#work .show-work img {
  width: 200px;
  height: 30%;
  -webkit-box-shadow: 2px 2px 2px 2px;
          box-shadow: 2px 2px 2px 2px;
}

#cover {
  width: 100%;
  height: 90%;
  position: relative;
  padding: 50px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  justify-items: center;
  grid-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 840px) {
  #cover {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
}

@media (min-width: 840px) {
  #cover .cover-work {
    padding-left: 30px;
  }
}

#cover .content {
  color: black;
  display: block;
  font-size: 1.5em;
  width: 80%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

@media (min-width: 840px) {
  #cover .content {
    font-size: 2em;
  }
}

#cover img {
  width: 100%;
  height: 200%;
  -webkit-box-shadow: 2px 2px 2px 2px;
          box-shadow: 2px 2px 2px 2px;
}

.btn {
  text-decoration: none;
  color: inherit;
  padding: 4px;
  margin: 2px auto;
  display: block;
  text-align: center;
  border: 3px solid;
  text-transform: uppercase;
}

.latest {
  width: 100%;
  height: 80%;
  position: relative;
  padding: 50px 0;
}

.latest .title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.latest #other {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
}

@media (min-width: 840px) {
  .latest #other {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.latest #other .card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
}

.latest #other .card img {
  opacity: 1;
  display: block;
  width: 100%;
  height: 10%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.latest #other .card img:hover {
  opacity: 0.3;
}

.latest #other .card .middle {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.latest #other .card .middle .text {
  background-color: #1cad89;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.latest #other .card:hover .middle {
  opacity: 1;
}

#about {
  background: #1cad89;
  height: 80%;
  width: 100%;
  padding: 50px 0;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

#about .content {
  text-align: center;
  color: white;
  font-size: 1.5em;
}

.btn-small {
  font-size: 1.5rem;
}

.container {
  text-align: center;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

footer {
  padding: 50px;
  text-align: center;
  position: relative;
  bottom: 0%;
  color: #717e83;
  background-color: #0e1e25;
}

footer .fab {
  font-size: 2em;
  padding: 10px;
}

@media (min-width: 840px) {
  footer .fab {
    font-size: 2em;
  }
}

.clearfix {
  clear: both;
}
/*# sourceMappingURL=main.css.map */