@import url("https://fonts.googleapis.com/css?family=Open+Sans:300, 400, 700");
.container {
  padding-top: 70px;
  margin: 0 2em;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: #03a87c;
}

.work-category {
  text-align: center;
}

.fixed {
  position: fixed;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.btn-primary {
  color: #03a87c;
  border: 1px solid #03a87c;
  border-radius: 4px;
  padding: 5px 20px 5px 20px;
  border-radius: 4px;
  display: inline-block;
  margin: 10px;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

@-webkit-keyframes boom {
  0% {
    -webkit-transform: scale(0.75) translateY(3.2rem);
            transform: scale(0.75) translateY(3.2rem);
    opacity: 0.3;
  }
  100% {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

@keyframes boom {
  0% {
    -webkit-transform: scale(0.75) translateY(3.2rem);
            transform: scale(0.75) translateY(3.2rem);
    opacity: 0.3;
  }
  100% {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

.card {
  padding-bottom: 2em;
}

.card .wrapper {
  border-radius: 9px;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
          box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}

.card .wrapper img {
  width: 100%;
  margin-bottom: 80px;
}

@media (min-width: 840px) {
  .card .wrapper {
    width: 90%;
    max-width: 270px;
    max-height: 90%;
  }
}

.card .header .date {
  background: rgba(119, 215, 185, 0.7);
  position: absolute;
  color: #000;
  top: 0px;
  padding: 10px;
}

.card .content {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding-top: 5px;
}

.card .content .author {
  padding-left: 1em;
  font-size: 1.2em;
}

.card .content .data {
  padding-left: 1em;
}

.card .content .link {
  display: block;
  height: 10px;
  text-align: center;
  position: relative;
  padding: 0.8em;
  margin-bottom: 0.5em;
}

.card .content .link a {
  border: 1px solid #03a87c;
  padding: 2px 20px 2px 20px;
  border-radius: 4px;
}

.cover {
  margin: 0 20px 0 20px;
  margin-bottom: 80px;
  border-radius: 9px;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
          box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}

.cover .wrapper .content {
  margin: 10px;
}

.cover .wrapper .content .author {
  padding-left: 1em;
  font-size: 1.2em;
}

.cover .wrapper .content .data {
  padding-left: 1em;
}
/*# sourceMappingURL=work.css.map */