@import 'params.scss';
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Indie+Flower|Montserrat');
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,300,700);
@import url(http://fonts.googleapis.com/css?family=Dosis:300,400,700);
*{
  margin:0;
  padding:0;
}
body, html{
  height:100%;
}

body{
  background: map-get($colors, bg);
  font-family: 'Montserrat', sans-serif;
  margin:0;

}

#showcase{
  background-image: url('../images/showcase.jpeg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  
  // filter: blur(2px);

  .content{
    animation: showcase 1s forwards 0s ease;
    background: rgba(0,0,0,0.2);
    padding:1em 1em;
    border-radius: 1em;
  }
  h1{
    color:white;
    font-family: 'Cormorant Garamond', serif;
    // font-family: Dosis, arial, sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.3em;
  }

  @keyframes showcase {
    0%{
      transform: rotate(0) translateY(-15%);
      opacity: 0;
    }
    100%{
      transform: rotate(0) translateY(0);
      opacity: 1;
    }
  }

  blockquote{
    color:white;
    font-size: 1em;
    text-align: center;
    font-weight: 4em;
    font-family: Dosis, arial, sans-serif;
    letter-spacing: 0.5em;
     .author{
       text-align: right;
       color:white;
        &:before{
          content: "-- "
        }
     }
     
  }
}
.container {
    text-align: center;
}


