$colors:(
    // bg:#f4f7f8,
    // bg:#202124,
    bg:#f1f1fa,
    primary:transparent,
    text-color:#444,
    contact:#1f8078,
    // primary:#1cad89,
    footer: #000,
    footer-text: #717e83,
    color: rgba(14,30,37,.54),
    regal-blue: #034378,
    san-juan: #2d4e68,
    bermuda: #77d7b9,
    white: #fff,
    black: #000,
    btn-primary:#03a87c
);

$desktop: 840px;

@function color($color-val){
    @return map-get($colors , $color-val );
}
@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}


